<div class="buttons-container">
    <button class="btn">Add</button>
    <button class="btn">Edit</button>
    <button class="btn">Delete</button>
</div>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Book Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Price</th>           
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="checkbox"></td>
            <td>title1</td>
            <td>author1  </td>
            <td>genre1 </td>
            <td>price1 </td>            
        </tr>
    </tbody>
</table>