<div class="buttons-container">
    <button class="btn">Add</button>
    <button class="btn">Edit</button>
    <button class="btn">Delete</button>
</div>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Book Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @for (book of paginatedBooks; track book.id) {
        <tr>
            <td><input type="checkbox"></td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }} </td>
            <td>{{ book.genre }}</td>
            <td>{{ book.price }}</td>
        </tr>
        }
    </tbody>
</table>
<mat-paginator [length]="books.length" [pageSize]="myPageSize" (page)="onPageChange($event)">
</mat-paginator>